In [1]:
import pandas as pd
df = pd.read_csv('/kaggle/input/teaching/Kmean1.csv')
df.head()

     x     y
0  1.0   3.0
1  2.0   4.0
2  3.0   3.0
3  6.0  20.0
4  6.2  21.0