# built-in data structures

## Lists 
- Lists are ordered collections of items in Python.
- They are versatile data structures that can hold elements of different data types.
- Lists are created using square brackets ```[]```.
- Elements within the list are separated by commas.
```
my_list = [1, 2, 3, 'a', 'b', 'c']
```
**Characteristics**
- Lists are mutable, meaning their elements can be modified after creation.
- Elements can be accessed by index.
- Lists support **indexing**, **slicing**, **concatenation**, and other operations.
### **Common Operations on Lists**
**Indexing and Slicing**
- Elements in a list can be accessed using index values.
- Indexing starts from 0.
- Slicing allows you to extract a subset of elements from the list.
**Mutability**
- Lists can be modified after creation.
- Elements can be added, removed, or modified using various list methods.
**Common Methods**
- append(): Add an element to the end of the list.
- insert(): Insert an element at a specified position.
- remove(): Remove the first occurrence of a specified value.
- pop(): Remove and return an element by index.
- extend(): Append elements from another list to the end.
- sort(): Sort the list in ascending order.
- reverse(): Reverse the order of elements in the list.
**Example:**
```
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
my_list.insert(0, 0)
my_list.remove(3)
print(my_list)
Output: [0, 1, 2, 4, 5, 6]
```
**Iteration:**
- Lists can be iterated using loops such as for loops.
- This allows you to perform operations on each element in the list.

In [1]:
students = ['Ali', 'Ahmed', 'Aisha']
print (students)

['Ali', 'Ahmed', 'Aisha']

Using Constructor

In [2]:
students1 = list (('Ali', 'Ahmed', 'Aisha'))
print (students1)

['Ali', 'Ahmed', 'Aisha']

Length of the string

In [3]:
x = len(students1)
print(x)

3

Access a specific item in the list according to its index

In [4]:
students = ['Ali', 'Ahmed', 'Aisha']
print (students[0])

Ali

Allow repetition

In [5]:
students = ['Ali', 'Ahmed', 'Aisha', 'Ali']
print (students)

['Ali', 'Ahmed', 'Aisha', 'Ali']

Type of the list type()

In [6]:
students = ['Ali', 'Ahmed', 'Aisha', 'Ali']
print (type(students))

<class 'list'>

Reverse order index

In [7]:
students = ['Ali', 'Ahmed', 'Aisha']
print (students[-1])

Aisha

Range of indexes

In [8]:
students = ['Ali', 'Ahmed', 'Aisha', 'Ali','Fatima', 'Abdullah']
print (students[1:3])
print (students[:3])
print (students[1:])

['Ahmed', 'Aisha']
['Ali', 'Ahmed', 'Aisha']
['Ahmed', 'Aisha', 'Ali', 'Fatima', 'Abdullah']

Checking if an item exists in the list

In [9]:
students = ['Ali', 'Ahmed', 'Aisha', 'Ali','Fatima', 'Abdullah']
x = 'Ali' in students
print (x)
x = 'ali' in students
print(x)

True
False

Change List Items

In [10]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('List before change: ', students)
students [0] = "Abdullah"
print ('List after change: ', students)

List before change:  ['Ali', 'Ahmed', 'Aisha']
List after change:  ['Abdullah', 'Ahmed', 'Aisha']

Insert Items

In [11]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('List before change: ', students)
students.insert(2, 'Muneera')
print ('List after change: ', students)

List before change:  ['Ali', 'Ahmed', 'Aisha']
List after change:  ['Ali', 'Ahmed', 'Muneera', 'Aisha']

Append Items

In [12]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('List before change: ', students)
students.append('Muneera')
print ('List After change: ', students)

List before change:  ['Ali', 'Ahmed', 'Aisha']
List After change:  ['Ali', 'Ahmed', 'Aisha', 'Muneera']

Extend List

In [13]:
students = ['Ali', 'Ahmed', 'Aisha']
new = ['Fatima', 'Said']
students.extend(new)
print ('List after change: ', students)

List after change:  ['Ali', 'Ahmed', 'Aisha', 'Fatima', 'Said']

Remove an Item

In [14]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('List before change: ', students)
students.remove('Ahmed')
print ('List After change: ', students)

List before change:  ['Ali', 'Ahmed', 'Aisha']
List After change:  ['Ali', 'Aisha']

Remove Specified Index

In [15]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('List before change: ', students)
students.pop(1)
print ('List After change: ', students)

List before change:  ['Ali', 'Ahmed', 'Aisha']
List After change:  ['Ali', 'Aisha']

Sorting a List

In [16]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('List before change: ', students)
students.sort()
print ('List After change: ', students)

List before change:  ['Ali', 'Ahmed', 'Aisha']
List After change:  ['Ahmed', 'Aisha', 'Ali']

Copy a List

In [17]:
students = ['Ali', 'Ahmed', 'Aisha']
print ('original list: ', students)
s = students.copy()
print ('Copied list: ', s)

original list:  ['Ali', 'Ahmed', 'Aisha']
Copied list:  ['Ali', 'Ahmed', 'Aisha']

Join Two Lists

In [18]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [31]:
list1 = ["a", "b", "c"]
list1.reverse()
list1

['c', 'b', 'a']

In [34]:
list1 = ["a", "b", "c"]
x = list1.index("b")
x

1

## Tuples

Definition

In [19]:
Point2D = (10,15)
print ('The point is : ',Point2D)

The point is :  (10, 15)

In [20]:
Point3D = (2,3,4)
print ('The point is : ',Point3D)

The point is :  (2, 3, 4)

In [21]:
Student = ('Ahmed', 20, 9212345, 'Barka')
print (Student)

('Ahmed', 20, 9212345, 'Barka')

In [22]:
p1 = (2,3)
p2 = (3,4)
p3 = p1 + p2
print (p3)

(2, 3, 3, 4)

Indexing

In [23]:
Student = ('Ahmed', 20, 9212345, 'Barka')
print (Student[1])

20

Update Tuple
Tuples cannot be updated instead they need to be converted to lists and perform the update on the lists and convert them back to tuple as follows:

In [24]:
Students = ('Ahmed', 20, 9212345, 'Barka')
temp = list(Students)
temp[0] = 'Ali'
Students = tuple(temp)
print (Students)

('Ali', 20, 9212345, 'Barka')

## Sets

In [25]:
students = {'Ali', 'Ahmed', 'Aisha', 'Ali'}
print ('The set is', students)

The set is {'Ali', 'Aisha', 'Ahmed'}

length of a set, repetition is not allowed

In [26]:
students = {'Ali', 'Ahmed', 'Aisha', 'Ali'}
x = len(students)
print ('The length of the set is', x)

The length of the set is 3

accessing set's elements

In [27]:
students = {'Ali', 'Ahmed', 'Aisha', 'Ali'}
print (students[0])

TypeError: 'set' object is not subscriptable

using in

In [ ]:
students = {'Ali', 'Ahmed', 'Aisha'}
x = 'ali' in students   # false because a not A
print(x)
y = 'Ali' in students
print(y)

False
True

Add Sets

In [ ]:
set1 = {'a', 'b', 'c'}
set2 = {1, 2,3}
set1.update(set2)
print (set1)

{'b', 1, 2, 3, 'c', 'a'}

Add element to a Set

In [ ]:
set1 = {'a', 'b', 'c'}
set1.add('w')
print (set1)

{'b', 'w', 'c', 'a'}

Remove Item

In [ ]:
set1 = {'a', 'b', 'c'}
print('set before change:', set1)
set1.remove('b')
print('set after change:', set1)

set before change: {'b', 'c', 'a'}
set after change: {'c', 'a'}

## Dictionaries

In [ ]:
dic = { 'ali': 80,
       'Ahmed': 70 }
print (dic)

{'ali': 80, 'Ahmed': 70}

In [ ]:
dic = { 'ali': 80,
       'Ahmed': 70 }
print (dic['ali'])

80